<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>桦溶娱乐</title>
  <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../js/common.js"></script>
    <link rel="stylesheet" href="../css/common.css">
</head>

<body>
  <!-- global header start -->
  <div class="header">
    <div class="container clearfix">
      <div class="logo fl">
            <img class="star1" src="../images/star.png">
            <img class="star2" src="../images/star.png">
            <img class="star3" src="../images/star.png">
        <img id="logoFlash" src="../images/logo.png">
      </div>
      <div class="nav fl" id="nav">
        <ul class="clearfix">
          <li>
            <a href="../index.html">首页</a>
          </li>
          <li>
            <a href="./khzc.html">开户注册</a>
          </li>
          <li>
            <a href="./Appxz.html">APP下载</a>
          </li>
          <li>
            <a href="./cjwt.html">常见问题</a>
          </li>
          <li>
            <a href="./gzsm.html">规则说明</a>
          </li>
          <li class="active">
            <a href="./jmhz.html">加盟合作</a>
          </li>
          <li class="hot">
            <a href="./zxyh.html">最新优惠</a>
            <i></i>
          </li>
          <li class="">
            <a href="javascript:alert('暂时未开通此功能');">在线客服</a>
          </li>
        </ul>
      </div>
      <div class="tool-bar">
        <ul class="clearfix">
            <li>
                <a href="#" class="cyl2 fwb">线路检测</a>
            </li>
            <li class="cyl2">|</li>
            <li>
                <a href="javascript:void(0);" class="cyl2">设为主页</a>
            </li>
            <li class="cyl2">|</li>
            <li>
                <a href="./jmhz.html" class="cyl2">代理加盟</a>
            </li>
          <li>|</li>
          <li class="lan clearfix">
            <a href="javascript:void(0);" class="cn"></a>
            <a href="javascript:void(0);" class="hk"></a>
            <a href="javascript:void(0);" class="us"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="lgbox" id="lg_box">
    <div class="container">
        <form id="loginForm">
            <ul class="clearfix">
                <li class="tit">THE LOGIN</li>
                <li>
                    <label for="userName" class="cover"></label>
                    <input type="text" id="userName" name="userName" maxlength="15" placeholder="账号">
                </li>
                <li>
                    <label for="userPwd" class="cover"></label>
                    <input type="password" id="userPwd" name="userPwd" maxlength="20" placeholder="密码">
                </li>
                <li>
                    <label for="loginVcode" class="cover"></label>
                    <input type="text" id="loginVcode" maxlength="4" name="loginVcode" placeholder="验证码">
                    <font id="numberCode" onselectstart="return false">4306</font>
                </li>
                <li>
                    <input type="button" value="" class="btn-lg" id="loginSubmitBtn">
                </li>
                <li>
                    <a href="./view/khzc.html" class="btn-reg"></a>
                </li>
                <li>
                    <a href="javascript:gAlert('请联系在线客服');" class="forget">忘记密码</a>
                </li>
            </ul>
        </form>
    </div>
  </div>
  <!-- global header end -->

  <div class="banner">
    <div class="radio">
      <div class="wrap">
        <div class="tit">
          <i></i>
          <span>公告NEWS:</span>
        </div>
        <div class="marquee" id="noticeDom"><marquee scrollamount="4 " scrolldelay="30 " onmouseover="this.stop();
          " onmouseout="this.start(); ">需要添加的公告文字</marquee></div>
</div>
</div>

  </div>
  <div class="main ">
      <div class="container clearfix ">
          <div class="leftmenu fl ">
  <div class="tit ">游戏导航</div>
  <div class="list ">
      <ul>
        <li>
          <a href="./jmhz.html" class="agentplan"></a>
      </li>
      <li>
          <a href="./jmxy.html" class="agentrules"></a>
      </li>
      <li>
          <a href="./tgdz.html" class="agenturl"></a>
      </li>
      <li>
          <a href="./dlzc.html" class="agentreg"></a>
      </li>
      <li>
          <a href="javascript:agentLogin();" class="agentlg"></a>
      </li>
      </ul>
  </div>
</div>

          <div class="text fl ">
              <div class="wrap ">
                  <div class="regbox ">
                      <div class="tit ">代理注册</div>
                      <form onsubmit="agentRegister();return false; ">
                          <div class="tbwrap ">
                              <table>
                                  <tbody><tr>
                                      <th width="90 "></th>
                                      <th></th>
                                  </tr>
                                  <tr>
                                      <td></td>
                                      <td>账号规则：账号必须为6-15为数字和字母组合</td>
                                  </tr>
                                  <tr>
                                      <td><strong>*</strong>代理账号：</td>
                                      <td>
                                          <input type="text " maxlength="15 " id="username ">
                                      </td>
                                  </tr>
                                  <tr>
                                      <td></td>
                                      <td>密码规则：密码长度要有6-20个字符，以及必须含有数字和字母组合</td>
                                  </tr>
                                  <tr>
                                      <td><strong>*</strong>登录密码：</td>
                                      <td>
                                          <input type="password " maxlength="20 " id="password ">
                                      </td>
                                  </tr>
                                  <tr>
                                      <td><strong>*</strong>确认密码：</td>
                                      <td>
                                          <input type="password " maxlength="20 " id="passwdse ">
                                      </td>
                                  </tr>
                                  <tr>
                                      <td></td>
                                      <td class="cred ">姓名必须与你用于提款的银行户口名字一致，否则无法提款</td>
                                  </tr>
                                  <tr>
                                      <td><strong>*</strong>真实姓名：</td>
                                      <td>
                                          <input type="text " id="fullName " maxlength="10 ">
                                      </td>
                                  </tr>
                                  <tr>
                                      <td></td>
                                      <td>提款认证必须，务必记住</td>
                                  </tr>
                                  <tr>
                                      <td><strong>*</strong>取款密码：</td>
                                      <td>
                                          <select id="pwd1 ">
                                              <option value="0 ">0</option>
                                              <option value="1 ">1</option>
                                              <option value="2 ">2</option>
                                              <option value="3 ">3</option>
                                              <option value="4 ">4</option>
                                              <option value="5 ">5</option>
                                              <option value="6 ">6</option>
                                              <option value="7 ">7</option>
                                              <option value="8 ">8</option>
                                              <option value="9 ">9</option>
                                          </select>
                                          <select id="pwd2 ">
                                              <option value="0 ">0</option>
                                              <option value="1 ">1</option>
                                              <option value="2 ">2</option>
                                              <option value="3 ">3</option>
                                              <option value="4 ">4</option>
                                              <option value="5 ">5</option>
                                              <option value="6 ">6</option>
                                              <option value="7 ">7</option>
                                              <option value="8 ">8</option>
                                              <option value="9 ">9</option>
                                          </select>
                                          <select id="pwd3 ">
                                              <option value="0 ">0</option>
                                              <option value="1 ">1</option>
                                              <option value="2 ">2</option>
                                              <option value="3 ">3</option>
                                              <option value="4 ">4</option>
                                              <option value="5 ">5</option>
                                              <option value="6 ">6</option>
                                              <option value="7 ">7</option>
                                              <option value="8 ">8</option>
                                              <option value="9 ">9</option>
                                          </select>
                                          <select id="pwd4 ">
                                              <option value="0 ">0</option>
                                              <option value="1 ">1</option>
                                              <option value="2 ">2</option>
                                              <option value="3 ">3</option>
                                              <option value="4 ">4</option>
                                              <option value="5 ">5</option>
                                              <option value="6 ">6</option>
                                              <option value="7 ">7</option>
                                              <option value="8 ">8</option>
                                              <option value="9 ">9</option>
                                          </select>
                                      </td>
                                  </tr><tr class="showRegEmail hide " style="display: table-row; ">
                                      <td></td>
                                      <td class="cred ">email格式：888888@qq.com</td>
                                  </tr>
                                  <tr id="showRegEmail " class="hide " style="display: table-row; ">
                                      <td><strong>*</strong>电子邮箱：</td>
                                      <td>
                                          <input type="text " id="email " maxlength="30 ">
                                      </td>
                                  </tr>
                                  
                                  <tr id="showRegMobile " class="hide " style="display: table-row; ">
                                      <td><strong>*</strong>手机号码：</td>
                                      <td>
                                          <input type="text " id="phone " maxlength="11 ">
                                      </td>
                                  </tr>
                              </tbody></table>
                          </div>
                          <div class="check">
                              <label for="tycbx">
                                  <strong>*</strong>
                                  <input type="checkbox" id="tycbx" checked="checked">
                                  <span>我已届满18岁合法博彩年龄﹐且同意各项开户条约。</span>
                              </label>
                          </div>
                          <div class="btns">
                              <input type="submit" value="注册 ">
                              <input type="reset">
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- global footer start -->
<div class="footer ">
  <div class="wrap ">
      <div class="paylist "></div>
      <div class="servicelist ">
          <ul class="clearfix ">
            <li>
              <a href="javascript:void(0); " class="phone "> <img src="../images/icon_01.png" alt=""> 免费电话 <span class="cfgMainPhone ">**********</span></a>
          </li>
          <li>
              <a href="javascript:qqService(); " target="_blank " class="qq "><img src="../images/icon_02.png" alt="">联系QQ <span class="cfgMainCustomerQQ ">*******</span></a>
          </li>
          <li>
              <a href="javascript:void(0); " class="email "><img src="../images/icon_03.png" alt="">联系邮箱 <span class="cfgMainEmail ">**********</span></a>
          </li>
          <li class="last ">
              <a href="javascript:BBOnlineService(); " class="online "><img src="../images/icon_04.png" alt=""><span>7X24</span> 小时在线客服</a>
          </li>
          </ul>
      </div>
      <div class="links ">
        <a href="./ckbz.html">存款取款</a>
        <span>|</span>
        <a href="./cjwt.html">常见问题</a>
        <span>|</span>
        <a href="./gzsm.html">规则说明</a>
        <span>|</span>
        <a href="./jmhz.html">加盟合作</a>
        <span>|</span>
        <a href="./about.html">关于我们</a>
        <span>|</span>
        <a href="./zxyh.html">最新优惠</a>
      </div>
      <div class="cominfo ">Copyright © 桦溶彩票 Reserved</div>
  </div>
</div>
<!-- global footer end -->

  <div class="float " id="float " style="position: absolute; z-index: 1000; top: 130px; right: 1px; ">
  <ul>
      <li class="service ">
          <a href="javascript:BBOnlineService(); "></a>
      </li>
      <li class="register ">
          <a href="./khzc.html "></a>
      </li>
      <li class="try ">
          <a href="javascript:guestLogin(); "></a>
      </li>
      <li class="qq ">
          <a href="javascript:qqService(); " target="_blank ">
              <span class="cfgMainCustomerQQ "></span>
          </a>
      </li>
      <li class="ewm ">
          <a href="./Appxz.html">
              <img src="" alt="">
              <p>APP下载</p>
          </a>
      </li>
      <li id="float_close" class="close ">
          <a href="javascript:void(0); "></a>
      </li>
  </ul>
</div>
<div class="remodal-overlay remodal-is-closed " style="display: none;
          "></div><div class="remodal-wrapper remodal-is-closed " style="display: none; "><div class="remodal remodal-is-initialized remodal-is-closed
          " data-remodal-id="modal " role="dialog " aria-describedby="modal1Desc " data-remodal-options="hashTracking: false " style="width:
          250px " tabindex="-1 ">
  <div>
      <p id="modal1Desc " style="color: #000 "></p>
      <span class="btnclose ">关闭</span>
  </div>
</div></div>
</body>
</html>