<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>桦溶娱乐</title>
    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../js/common.js"></script>
    <link rel="stylesheet" href="../css/common.css">
</head>

<body>
    <!-- global header start -->
    <div class="header">
        <div class="container clearfix">
            <div class="logo fl">
                <img class="star1" src="../images/star.png">
                <img class="star2" src="../images/star.png">
                <img class="star3" src="../images/star.png">
                <img id="logoFlash" src="../images/logo.png">
            </div>
            <div class="nav fl" id="nav">
                <ul class="clearfix">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./khzc.html">开户注册</a>
                    </li>
                    <li>
                        <a href="./Appxz.html">APP下载</a>
                    </li>
                    <li>
                        <a href="./cjwt.html">常见问题</a>
                    </li>
                    <li>
                        <a href="./gzsm.html">规则说明</a>
                    </li>
                    <li>
                        <a href="./jmhz.html">加盟合作</a>
                    </li>
                    <li class="hot">
                        <a href="./zxyh.html">最新优惠</a>
                        <i></i>
                    </li>
                    <li class="">
                        <a href="javascript:alert('暂时未开通此功能');">在线客服</a>
                    </li>
                </ul>
            </div>
            <div class="tool-bar">
                <ul class="clearfix">
                    <li>
                        <a href="#" class="cyl2 fwb">线路检测</a>
                    </li>
                    <li class="cyl2">|</li>
                    <li>
                        <a href="javascript:void(0);" class="cyl2">设为主页</a>
                    </li>
                    <li class="cyl2">|</li>
                    <li>
                        <a href="./jmhz.html" class="cyl2">代理加盟</a>
                    </li>
                    <li>|</li>
                    <li class="lan clearfix">
                        <a href="javascript:void(0);" class="cn"></a>
                        <a href="javascript:void(0);" class="hk"></a>
                        <a href="javascript:void(0);" class="us"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="lgbox" id="lg_box">
        <div class="container">
            <form id="loginForm">
                <ul class="clearfix">
                    <li class="tit">THE LOGIN</li>
                    <li>
                        <label for="userName" class="cover"></label>
                        <input type="text" id="userName" name="userName" maxlength="15" placeholder="账号">
                    </li>
                    <li>
                        <label for="userPwd" class="cover"></label>
                        <input type="password" id="userPwd" name="userPwd" maxlength="20" placeholder="密码">
                    </li>
                    <li>
                        <label for="loginVcode" class="cover"></label>
                        <input type="text" id="loginVcode" maxlength="4" name="loginVcode" placeholder="验证码">
                        <font id="numberCode" onselectstart="return false">4306</font>
                    </li>
                    <li>
                        <input type="button" value="" class="btn-lg" id="loginSubmitBtn">
                    </li>
                    <li>
                        <a href="./view/khzc.html" class="btn-reg"></a>
                    </li>
                    <li>
                        <a href="javascript:gAlert('请联系在线客服');" class="forget">忘记密码</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <!-- global header end -->

    <div class="banner">
        <div class="radio">
            <div class="wrap">
                <div class="tit">
                    <i></i>
                    <span>公告NEWS:</span>
                </div>
                <div class="marquee" id="noticeDom">
                    <marquee scrollamount="4" scrolldelay="30" onmouseover="this.stop();" onmouseout="this.start();">需要添加的公告文字</marquee>
                </div>
            </div>
        </div>

    </div>
    <div class="main">
        <div class="container clearfix">
            <div class="leftmenu fl">
                <div class="tit">游戏导航</div>
                <div class="list">
                    <ul>
                        <li>
                            <a href="./about.html" class="about "></a>
                        </li>
                        <li>
                            <a href="./cjwt.html " class="question1 "></a>
                        </li>
                        <li>
                            <a href="./generalfaq.html " class="question2 "></a>
                        </li>
                        <li>
                            <a href="./techfaq.html " class="question3 "></a>
                        </li>
                        <li>
                            <a href="./zxyh.html " class="activity "></a>
                        </li>
                        <li>
                            <a href="./lxwm.html " class="contact "></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="text fl">
                <div class="wrap">
                    <p class="cf7">技术问题</p>
                    <p>Q1：进行游戏对系统配置有要求么？</p>
                    <p>A1：我们设计的网页将会提供新一代浏览器服务，提供更好的特点，让您能够享有更好的投注乐趣。我们希望您能使用Internet Explorer 6.0或者是以上的浏览器版本。</p>
                    <p>Q2：为什么系统会将我登出？</p>
                    <p>A2：这是网页的保安程式之一，当您在一定的时间内没有使用有关的网页，那么有关的网页将不再活跃，并且无法浏览最新的页面，在此您必需重新登入；若您重新登入后情况仍然一样请立即联系我们。</p>
                    <p>Q3：为什么需要清除网页快取？</p>
                    <p>A3： 如果您无法浏览新的网页或者是最新的页面，并且发现所浏览的是相同或者是旧的页面，这表示您的记忆体已经满载。 IE以及Netscape的经常使用将导致记忆体的储存，要解决这个问题，只需依照以下的步骤：
                        </p>
                    <p>INTERNET EXPLORER 6.0或者是以上的浏览器版本 </p>
                    <p>在您的桌面浏览器，使用滑鼠右击。 </p>
                    <p>点击"Internet属性</p>
                    <p>再按"删除档"中的"删除所有脱机内容"键， </p>
                    <p>关闭浏览器，重新启动IE浏览器， </p>
                    <p>这将会清除记忆体快取，并不会清除Cookies或者是重要程式档案。 </p>
                </div>
            </div>
        </div>
    </div>
    <!-- global footer start -->
    <div class="footer">
        <div class="wrap">
            <div class="paylist"></div>
            <div class="servicelist">
                <ul class="clearfix">
                    <li>
                        <a href="javascript:void(0); " class="phone ">
                            <img src="../images/icon_01.png" alt=""> 免费电话
                            <span class="cfgMainPhone ">**********</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:qqService(); " target="_blank " class="qq ">
                            <img src="../images/icon_02.png" alt="">联系QQ
                            <span class="cfgMainCustomerQQ ">*******</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0); " class="email ">
                            <img src="../images/icon_03.png" alt="">联系邮箱
                            <span class="cfgMainEmail ">**********</span>
                        </a>
                    </li>
                    <li class="last ">
                        <a href="javascript:BBOnlineService(); " class="online ">
                            <img src="../images/icon_04.png" alt="">
                            <span>7X24</span> 小时在线客服</a>
                    </li>
                </ul>
            </div>
            <div class="links">
                <a href="./ckbz.html">存款取款</a>
                <span>|</span>
                <a href="./cjwt.html">常见问题</a>
                <span>|</span>
                <a href="./gzsm.html">规则说明</a>
                <span>|</span>
                <a href="./jmhz.html">加盟合作</a>
                <span>|</span>
                <a href="./about.html">关于我们</a>
                <span>|</span>
                <a href="./zxyh.html">最新优惠</a>
            </div>
            <div class="cominfo">Copyright © 桦溶彩票 Reserved</div>
        </div>
    </div>
    <!-- global footer end -->

    <div class="float" id="float" style="position: absolute; z-index: 1000; top: 130px; right: 1px;">
        <ul>
            <li class="service">
                <a href="javascript:BBOnlineService();"></a>
            </li>
            <li class="register">
                <a href="./khzc.html"></a>
            </li>
            <li class="try">
                <a href="javascript:guestLogin();"></a>
            </li>
            <li class="qq">
                <a href="javascript:qqService();" target="_blank">
                    <span class="cfgMainCustomerQQ"></span>
                </a>
            </li>
            <li class="ewm">
                <a href="./Appxz.html">
                    <img src="" alt="">
                    <p>APP下载</p>
                </a>
            </li>
            <li id="float_close" class="close">
                <a href="javascript:void(0);"></a>
            </li>
        </ul>
    </div>
    <div class="remodal-overlay remodal-is-closed" style="display: none;"></div>
    <div class="remodal-wrapper remodal-is-closed" style="display: none;">
        <div class="remodal remodal-is-initialized remodal-is-closed" data-remodal-id="modal" role="dialog" aria-describedby="modal1Desc"
            data-remodal-options="hashTracking: false" style="width: 250px" tabindex="-1">
            <div>
                <p id="modal1Desc" style="color: #000"></p>
                <span class="btnclose">关闭</span>
            </div>
        </div>
    </div>
</body>

</html>